
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  
}

h1, p {
  color: #333;
}

#cnt_body{
   
   }
    
#main_bdy {
  width: 820px;
  margin: 0px;
  padding: 0px;
  text-align: left;  
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

#message {
  color: #e12b2c; 
 }
